.OnLine {
  background-color: chartreuse;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.OfLine {
  background-color:crimson;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.item{
  background-color:cornflowerblue;
  display: flex;
  gap: 10px;
  justify-content:flex-start;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  box-shadow: inset -10px -10px 100px, 10px 10px 20px, inset 0px 0px 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.name{
  color: aliceblue;
}
.friendList{
  margin-bottom: 50px;
}